/* responsive design here */

/* mobile device */
@media (max-width: 997px) {
 
    .logo h3 {
    text-align: center;
  }
  .section-1-h1 {
    font-size: 35px;
    text-align: center;
  }
  .section-1-p {
    font-size: 9px;
    text-align: center;
  }
  .navbar-ul {
    display: none;
  }
  .container {
    margin: 25px 100%;
  }
  .container > .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  