@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* normal css style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 130px;
}
button {
  color: white;
  font-weight: 700;
  font-family: "Poppins";
  border: none;
  width: 196px;
  height: 44px;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  text-align: center;
  border-radius: 41px;
  outline: none;
  background-color: #e02c6d;
  cursor: pointer;
  transition: 0.5s ease;
}
button:hover {
  transform: scale(1.1);
}
/* Logo design here */
.logo > h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
/* navbar design here */
ul {
  display: flex;
}
li {
  list-style-type: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin: 0 15px;
  transition: 0.5s ease;
  cursor: pointer;
}
li:hover {
  transform: scale(1.5);
}
.fas {
  font-size: 20px;
  font-weight: thin;
  transition: 0.5s ease;
}
/* header design here */

/* second area here */
.section-1 {
  display: flex;
  align-items: center;
}
.section-1-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 40px;
}
.section-1-p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 40px;
}
.fa-arrow-right {
  font-size: 15px;
  padding-left: 5px;
}
.right img {
  width: 100%;
}
/* third area here  */
.section-2-h1 {
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 70px;
  color: #3a3a3a;
}

/* fourth area here  */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px gray;
  transition: 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}
.card img {
  width: 300px;
  height: 256px;
  margin: 14px 0 0 14px;
}
.card:hover {
  transform: scale(1.1);
}
.image-details {
  margin: 5px 15px;
}
h3 {
  font-size: 26px;
  margin: 5px 0;
}
h4 {
  margin: 5px 0;
  font-size: 23px;
  font-weight: 500;
  color: rgb(51, 53, 50);
}
.fa-star {
  font-size: 10px;
  color: orange;
}
span {
  font-size: 15px;
  align-items: center;
}
.image-details p {
  color: #525151;
}
.see-more-div {
  position: relative;
  left: 504px;
}
.see-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  cursor: pointer;
}
small {
  color: #e02c6dde;
  font-weight: 700;
  font-size: 18px;
}
.fa-long-arrow-alt-right {
  color: #e02c6d;
  font-size: 25px;
}

/* form section  */
.form-right {
  width: 100%;
}
.form-right img {
  width: 100%;
  height: 410px;
}
.form-left {
  width: 100%;
}
.form-left form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-h1 {
  color: #171625;
  text-align: center;
}
.text-field {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border: 0.5px solid #df45df;
  font-size: 15px;
  outline: none;
  font-family: inherit;
  text-align: center;
  border-radius: 15px;
}
/* footer area here  */
.footer-section {
  width: 100%;
  height: 239px;
  background-color: #0a0826;
  color: #e0dada;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer-right {
  margin-top: 25px;
}
.footer-right h1 {
  font: 700;
  font-size: 25px;
}
.footer-right p {
  font-size: 15 px;
}
.footer-icon {
  font-size: 25px;
  margin: 0 5px;
}
.fab {
  cursor: pointer;
}
/* responsive design here */

/* mobile device */
@media (min-width: 576px) {
  .logo h3 {
    position: relative;
    left: 174px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .section-1 {
    justify-content: center;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .logo h3 {
    position: absolute;
    left: 265px;
  }
  button {
    position: relative;
    left: 150px;
  }
}
@media (max-width: 668px) {
  /* your additional css here  */
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* tab device view  */

@media (max-width: 980px) {
  /* your additional css here */
  .container .logo {
    margin: 0 auto;
  }
  .container nav ul li {
    display: none;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-1-h1 {
    font-size: 35;
    text-align: center;
  }
  .section-1-p {
    font-size: 9;
    text-align: center;
  }
  button {
    align-items: center;
  }
  .container {
    margin: 25px 30px;
    grid-gap: 10px;
  }
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .right img {
  }
}

/* laptop device here */
@media (max-width: 1024px) {
}
